<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaOWDnkqQWyAj4ihSuPkt8erGvvu5icXo</string>
	<key>GCM_SENDER_ID</key>
	<string>78709434455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuny.sidewalk.localversion</string>
	<key>PROJECT_ID</key>
	<string>nsf-2131186-18936</string>
	<key>STORAGE_BUCKET</key>
	<string>nsf-2131186-18936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78709434455:ios:1508cb6b52d0a792cfdb12</string>
</dict>
</plist>